.sensor-list-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.value-up {
  color: green;
}

.value-down {
  color: red;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.sensor-section {
  margin-bottom: 20px;
}

.collapsible-header {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s;
}

.collapsible-header:hover {
  background-color: #e2e2e2;
}

.sensor-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.sensor-table th,
.sensor-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.sensor-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.sensor-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sensor-table td a {
  color: #007bff;
  text-decoration: none;
}

.sensor-table td a:hover {
  text-decoration: underline;
}

p {
  font-size: 14px;
  color: #555;
}
