.sensor-data-table {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.filters {
  margin-bottom: 20px;
}

.filters input,
.filters select,
.filters button {
  margin-right: 10px;
}

.sensor-table {
  width: 100%;
  border-collapse: collapse;
}

.sensor-table th,
.sensor-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.sensor-table th {
  background-color: #f4f4f4;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
}

.chart-container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  max-height: 500px;
}

.chart-container.fullscreen {
  grid-column: span 2; /* Sprawia, że wykres zajmuje pełną szerokość siatki przy jednym wykresie */
  height: 500px;
}

.chart-container.small {
  height: 300px;
}

.chart-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.chart-container h5 {
  margin: 0px;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}
